
body{
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 11pt;
}

body p{
    margin: 0px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#title-banner{
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin:15px;
}


#game-board{
    background-color: var(--pale-white);
    width: 1640px;
    height: 800px;
    border-radius: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

#game-component-cards{
    display: flex;
    margin-top: 5px;

}


#gm-box{
    /* border-left: 2px solid var(--home-s-color); */
    border-top-left-radius: 15px;
}

#cpu-box{
    /* border-right: 2px solid var(--away-s-color); */
}

.starters-box{
    height: 250px;
    margin: 0 0 50px 0;
}

.bench-box{
    height: 430px;
    margin-top: 10px;
}

#h-bench-list,
#a-bench-list{
    /* padding-top: 10px; */
    border-top: solid 1px var(--light-gray);
}

/* Sim Info and sim-box ----------------------------------*/
#sim-box{
    width: 460px;
    height: 700px;
    margin: 0px 5px;
    /* padding: 12px 0px; */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:rgb(92, 90, 90) 0px 4px 4px -2px;
    /* box-shadow: 0 4px 2px -2px gray; */
}

#game-info{
    display: flex;
    /* justify-content:space-between ; */
    width: 100%;
    height: 30%;
    border-radius: 5px;
    /* box-shadow:rgb(92, 90, 90) 0px 5px 8px -2px; */
}
.section-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding: 10px; */
    height: 100%;
    width: 50%;
    position: relative;
}


#h-team-section{
    background-image: linear-gradient(to bottom,var(--home-p-color),var(--pale-white) 66%);
    border-left: 2px solid var(--home-s-color);
    /* width: 260px; */
}

#a-team-section{
    background-image: linear-gradient(to bottom,var(--away-p-color),var(--pale-white) 66%);
    border-right: 2px solid var(--away-s-color);
    /* width: 260px; */
}


.team-info-header{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    /* margin: 10px 15px 0 0; */
    width: 100%;
}

#h-team-logo{
    /* background-image:url("images/bulls_logo.png"); */
    background-image:var(--home-logo);
    background-repeat: no-repeat;
}

#a-team-logo{
    /* background-image:url("images/knicks_logo.png"); */
    background-image:var(--away-logo);
    background-repeat: no-repeat;
}

.logo-box{
    /* background-size: 100px; */
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    /* margin: 10px 10px 0px; */
    
}

.team-info{
    /* padding: 0px 20px; */
    text-align: right;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#h-team-name{
    font-size: 1.8rem;
    color: var(--home-p-color);
    
}
#a-team-name{
    font-size: 1.8rem;
    color: var(--away-p-color);
}

.city{
    font-size: 1.3rem;
    margin: 2px;
    color: var(--pale-white);
}

.team-stats{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(68, 68, 71);
    /* margin: 30px 0px 15px; */
    width: 100%;
    height: 70px;
}

.team-stats-tb{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size:16pt;
    /* height: 90px; */
}

.team-stat-box-s{
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-stat-box{
    width: 80px;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
}


#game-reset-box{
    background-color:var(--dark-gray);
    /* background-color: rgba(213, 220, 236, 0.741); */
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 10%;
    /* margin: 20px 0px 0px; */
    font-family: 'Orbitron', sans-serif;;
    font-size: 2rem;
    align-items: center;
}

#game-clock{
    font-size: 1.3rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:200px;

}

#sim-buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* margin-top: 20px; */
}


#gamelog-box{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

#gamelog-header p{
    text-align: center;
    font-size: 1.6rem;
    margin: 5px;
    /* height: 20%; */
}

#gamelog-list{
    width: 100%;
    height: 80%;
    padding: 0px 10px;
    margin-top: 10px;
    overflow: auto;
    /* align-items: flex-start; */
}



/* Game Buttons ------------------------------------------------------------------ */
#game-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* visibility: hidden; */
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 540px;
}


/* Class styles */
.header{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.divider{
    border: 1px solid var(--blue-one);
}

.divider-h-dark{
    border: 1px solid var(--blue-four);
    width:100%;
}

.divider-h-light{
    border: 1px solid rgb(191, 195, 201);
    width:100%;
}

.boxscore-header{
    display: flex;
    align-items: center;
    /* border-bottom: 1pt solid var(--blue-four); */
    width: 100%;
}

.home-header{
    border-top-left-radius:15px ;
    background: var(--home-p-color);
    color: white;
    border-bottom: 2px solid var(--home-s-color);
}

.away-header{
    border-top-right-radius:15px ;
    background: var(--away-p-color);
    color: white;
    border-bottom: 2px solid var(--away-s-color);
}

.boxscore-label{
    font-size: 1.4rem;
    height: 40px;
    width:42%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.home-label-bench{
    border-top-right-radius:15px ;
    background:var(--light-gray);
    /* background:rgb(159, 159, 159); */
    color: var(--dark-gray);
    /* color: white; */
    height: 35px;
    width: 170px;
}

.away-label-bench{
    border-top-right-radius:15px ;
    background:var(--light-gray);
    /* background:rgb(159, 159, 159); */
    color: var(--dark-gray);
    /* color: white; */
    height: 35px;
    width: 170px;
}


.boxscore-tile{
    display: flex;
    align-items: center;
    height: 45px;
    border-bottom:1px solid var(--light-gray);
    padding-left: 5px;
    position: relative;
}




.name-icon{
    width: 30%;
}

.stat-line{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    width: 65%;
}

.stat{
    width:30px;
    text-align: center;
    margin: 0px 5px 0px 5px;
    /* font-size: .98rem; */
}
.stat-dbl{
    width:50px;
    text-align: center;
    /* padding: 0px 6px 0px 6px; */
    /* font-size: .98rem; */

}

.stat-wide{
    width:18px;
    text-align: center;
    /* margin: 0px 6px 0px 6px; */
    /* font-size: .98rem; */

}

.stat-group{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 2px 0px 2px;
}
.stat-header{
    width:20px;
    text-align: center;
    margin: 0px 6px 0px 6px;
    /* font-size: .95rem; */

}

.dash{
    width: 1px;
    margin-right:1px;
}

.fatigue-grid{
    position:absolute;
    /* right: 50px; */
    background-color: var(--light-gray);
    border: 1px solid black;
    height: 40px;
    width: 8px;
    /* margin-left:50px; */
    z-index: 2;
    display:none;
    bottom: 2px;
    right: 5px;
}

.fat-bar{
    position: absolute;
    bottom: 0;
    background-color: rgb(81, 148, 81);
    width: 6px;
    z-index: 3;
}


/* Coaching Menu Screen------------------------------------------------------------------------------------------- */

#coach-screen{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#coach-card{
    background-color: red;
    width: 1500px;
    
}

#sub-roster{
    background-color: green;
}


/* Active states */

#gm-box .boxscore-tile:hover{
    background-image: linear-gradient(to right, var(--home-color-high), white 48%);
    border-left: 2px solid var(--home-p-color);
    border-top: solid 1px var(--home-color-high);
    border-bottom: solid 1px var(--home-color-high);
}

#cpu-box .boxscore-tile:hover{
    background-image: linear-gradient(to right, var(--away-color-high), white 48%);
    border-left: 2px solid var(--away-p-color);
    font-size: 1rem;
    border-top: solid 1px var(--away-color-high);
    border-bottom: solid 1px var(--away-color-high);

}

