:root{
    --wood-floor:#dece9a;
    --header:#95bfdf;
    
    /* Home Team */
    --home-p-color:#8fa7e894;
    --home-s-color:#000000;
    --home-color-high:#000000;
    --home-logo:url("images/test.png");
    
    /* Away Team */
    --away-p-color:rgb(19, 69, 204);
    --away-s-color:rgb(227, 138, 23);
    --away-color-high:rgb(177, 212, 143);
    --away-logo:url("images/test.png");
    
    
    /* System Colors */
    --primary:#808080;
    --secondary:#808080;
    --highlight:#808080;
    
    --gray-one: #ededed;
    --gray-two:#d1d1d1;
    --gray-three:#a8a8b5;
    --gray-four:#444444;
    --gray-five:#323741;
    --gray-six:#202228;


    /* --button-dark:#2b303b; */

    --pale-white:#eff2f5;
    --t1:#002eff;
    --t2:#002eff;
    --t3:#6e79a8;
    /* --background: rgb(154, 63, 245); */
    --background: #d7dde8;

    --dark-red: #5b080f;
    --prime-red:#bb0716ec;
    --blue-one:#ccd7f8e2;
    --blue-two: #8fa7e894;
    --blue-three:#21366fca;
    --blue-four:#1c2a4eef;
    --highlight-blue:#d5e4f6a8;

    --gray:#b4b4b4;


    --test: #000000;
    --test1: #1b4164;
    --test2: #f9a01b;


}

body{
    background-color: var(--background);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.font-h-color{
    color:var(--home-p-color)
}

.font-a-color{
    color:var(--away-p-color)
}

.button{
    color: var(--pale-white);
    background-color: var(--gray-five);
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;  
}

.button:hover{
    color: var(--pale-white);
    background-color: var(--gray-three);
    font-size: 1.1rem;
    font-weight: 500;
    box-shadow:rgb(92, 90, 90) 0px 3px 10px;
    cursor: pointer;
}

.bold{
    font-weight: 600;
}


/* Boxscore tiles------------------------------------------------------- */
.position-tile{
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom:1px solid var(--blue-one);
    width: 100%;

}


.position-box{
    /* background-color:var(--blue-three); */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 50px;
    
}

.name-box{
    /* background-color: rgb(245, 244, 244); */
    height: 40px;
    width: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor:move;
}

.name{
    padding-left: 10px;
    font-weight: 700px;
}

.box-dark{
    background-color: var(--blue-three);
    /* border: solid 1.5px var(--blue-two); */
    color: white;
    border-radius: 10px;
}


.name-box-player{
    display: flex;
    align-items: center;
    font-style: bold;
}

.name-box-ratings{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

.name-box-ratings p{
    margin-right: 20px;
}


/* Roster box ------------------------------------------------------ */
.roster-box{
    background-color: var(--pale-white);
    width: 575px;
    height:700px;
    /* padding:0 10px 12px 10px; */
    box-shadow:rgb(92, 90, 90) 0px 4px 8px -2px;
}

.roster-box-full{
    background-color: var(--pale-white);
    width: 900px;
    height:700px;
    /* padding:0 10px 12px 10px; */
    box-shadow:rgb(92, 90, 90) 0px 4px 8px -2px;
}

.card-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.card-header{
    margin: 20px 0;
    font-size: 1.5rem;

}

.card-sub-header{
    /* margin: 0 0 10px 10px; */
    margin:10px;
    font-size: 1.2rem;
}

.logo-box{
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
}





/* Dragging elements -------------------------------------*/
.dragging{
    background-color: var(--gray-four);
    opacity:.4;
}

.over{
    border: 3px solid rgb(6, 78, 6);
}

/* Icons------------------------------------------------ */

.h-pos-icon{
    width: 6%;
    height: 25px;
    text-align: center;
    border: 1.5px solid var(--pale-white);
    border-radius: 15px;    
    background-color: var(--home-p-color);
    color: var(--pale-white);
    margin:0 10px 0 5px;
    padding:3px 0 0 0;
}

.a-pos-icon{
    width: 6%;
    height: 25px;
    text-align: center;
    border: 1.5px solid var(--pale-white);
    border-radius: 15px;    
    background-color: var(--away-p-color);
    color: var(--pale-white);
    margin:0 10px 0 5px;
    padding:3px 0 0 0;
}

.b-pos-icon{
    width: 6%;
    height: 25px;
    text-align: center;
    border: 1.5px solid var(--gray);
    border-radius: 15px;    
    /* background-color: rgba(224, 224, 224, 0.825); */
    background-color: var(--pale-white);
    /* color: var(--pale-white); */
    margin:0 10px 0 5px;
    padding:3px 0 0 0;
}



/* Dropdown boxes------------------------------------------------- */

.dropdown{
    min-width: 220px;
    position: relative;
    margin: 10px;
}

.select{
    background: var(--gray-five);
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    height: 2em;
    padding: 1em;
}


.selected-clicked{
    border: 2px #26489a solid;
    box-shadow: 0 0 0 .8em #26489a;
}

.select:hover{
    background: var(--gray-three)
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    transition: 0.3s
}

.caret-rotate{
    transform: rotate(180deg)
}

.dropdown-menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: var(--gray-five);
    border: 1px solid #363a43;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 2em;
    width: 100%;
    /* opacity: 0; */
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.dropdown-menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
}

.dropdown-menu li:hover{
    background: #2a2d35;
}

.active{
    background: #23242a;
}

.dropdown-menu-open{
    display:block;
    opacity: 1;
}

