:root{
    --wood-floor:rgb(222, 206, 154);
    --header:rgb(149, 191, 223);
    
    /* Home Team */
    --home-p-color:rgb(186, 24, 24);
    --home-s-color:rgb(9, 9, 9);
    --home-color-high:rgba(243, 144, 144, 0.657);
    --home-logo:url("images/test.png");
    
    /* Away Team */
    --away-p-color:rgb(19, 69, 204);
    --away-s-color:rgb(227, 138, 23);
    --away-color-high:rgb(177, 212, 143);
    --away-logo:url("images/test.png");
    
    
    
    /* System Colors */
    --primary:gray;
    --secondary:gray;
    --highlight:gray;
    
    --light-gray:rgb(209, 209, 209);
    --mid-gray:rgb(121, 121, 121);
    --dark-gray:rgb(68, 68, 68);;

    --pale-white:rgb(239, 242, 245);
    --background: rgb(215, 221, 232);

    --dark-red: rgb(91, 8, 15);
    --prime-red:rgb(187, 7, 22, 0.927);
    --blue-one:rgba(204, 215, 248, 0.886);
    --blue-two: rgba(143, 167, 232, 0.581);
    --blue-three:rgba(33, 54, 111, 0.791);
    --blue-four:rgba(28, 42, 78, 0.938);
    --highlight-blue:rgba(213, 228, 246, 0.657);

    --gray:rgb(180, 180, 180);


    --test: rgb(0, 0, 0);
    --test1: rgb(27, 65, 100);
    --test2: rgb(249, 160, 27);


}

body{
    background-color: var(--background);
}

*{
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    /* font-weight: 400; */
    /* font-size: 11pt; */
}


.font-h-color{
    color:var(--home-p-color)
}

.font-a-color{
    color:var(--away-p-color)
}

.button{
    color: white;
    background-color: var(--dark-gray);
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;  
}

.button:hover{
    color: var(--dark-gray);
    background-color: var(--light-gray);
    font-size: 1.1rem;
    font-weight: 700;
    box-shadow:rgb(92, 90, 90) 0px 3px 10px;
    cursor: pointer;
}


/* Boxscore tiles------------------------------------------------------- */
.position-tile{
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom:1px solid var(--blue-one);
    width: 100%;

}


.position-box{
    /* background-color:var(--blue-three); */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 50px;
    
}

.name-box{
    /* background-color: rgb(245, 244, 244); */
    height: 40px;
    width: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor:move;
}

.name{
    padding-left: 10px;
    font-weight: 700px;
}

.box-dark{
    background-color: var(--blue-three);
    /* border: solid 1.5px var(--blue-two); */
    color: white;
    border-radius: 10px;
}


.name-box-player{
    display: flex;
    align-items: center;
    font-style: bold;
}

.name-box-ratings{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

.name-box-ratings p{
    margin-right: 20px;
}


/* Roster box ------------------------------------------------------ */
.roster-box{
    background-color: var(--pale-white);
    width: 575px;
    height:700px;
    /* padding:0 10px 12px 10px; */
    box-shadow:rgb(92, 90, 90) 0px 4px 8px -2px;
}

.roster-box-full{
    background-color: var(--pale-white);
    width: 900px;
    height:700px;
    /* padding:0 10px 12px 10px; */
    box-shadow:rgb(92, 90, 90) 0px 4px 8px -2px;
}

.card-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.card-header{
    margin: 20px 0;
    font-size: 1.5rem;

}

.card-sub-header{
    /* margin: 0 0 10px 10px; */
    margin:10px;
    font-size: 1.2rem;
}


/* Dragging elements -------------------------------------*/
.dragging{
    background-color: rgb(240, 133, 133);
    opacity:.4;
}

.over{
    border: 3px solid rgb(6, 78, 6);
}

/* Icons------------------------------------------------ */

.h-pos-icon{
    width: 6%;
    height: 25px;
    text-align: center;
    border: 1.5px solid var(--pale-white);
    border-radius: 15px;    
    background-color: var(--home-p-color);
    color: var(--pale-white);
    margin:0 10px 0 5px;
    padding:3px 0 0 0;
}

.a-pos-icon{
    width: 6%;
    height: 25px;
    text-align: center;
    border: 1.5px solid var(--pale-white);
    border-radius: 15px;    
    background-color: var(--away-p-color);
    color: var(--pale-white);
    margin:0 10px 0 5px;
    padding:3px 0 0 0;
}

.b-pos-icon{
    width: 6%;
    height: 25px;
    text-align: center;
    border: 1.5px solid var(--gray);
    border-radius: 15px;    
    /* background-color: rgba(224, 224, 224, 0.825); */
    background-color: var(--pale-white);
    /* color: var(--pale-white); */
    margin:0 10px 0 5px;
    padding:3px 0 0 0;
}



/* Dropdown boxes------------------------------------------------- */

.dropdown{
    min-width: 15em;
    position: relative;
    margin: 1em;
}

.select{
    background: #2a2f3b;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--blue-three);
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    height: 2em;
    padding: 1em;
}


.selected-clicked{
    border: 2px #26489a solid;
    box-shadow: 0 0 0 .8em #26489a;
}

.select:hover{
    background: var(--blue-two)
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
    transition: 0.3s
}

.caret-rotate{
    transform: rotate(180deg)
}

.dropdown-menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 2em;
    width: 100%;
    opacity: 0;
    /* display: none; */
    transition: 0.2s;
    z-index: 1;
}

.dropdown-menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
}

.dropdown-menu li:hover{
    background: #2a2d35;
}

.active{
    background: #23242a;
}

.dropdown-menu-open{
    display: block;
    opacity: 1;
}

